.hero-bg-img {
  background-image: url("cute-project.jpg");
  padding-top: 300px;
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-footer {
  font-size: small;
}

.body {
  background-image: linear-gradient(rgb(230, 247, 255), rgb(204, 239, 255));
}

.form {
margin: 50px;
width:250px;
padding-bottom: 40px;
